.company-logo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.col-sm-12 {
    display: flex;
    border-radius: 20px;
    background-color: #a4aaaf;
    color: black;
    border: none;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    font-size: 1.2em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 50px;
    padding: 20px;

}

.col-sm-12 > .info-paragraph p{
    background-color: black;
    color: #a4aaaf;
    padding: 3px;
    border-radius:5px;
}

.register-form label {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 2px;
    border: none;
    display: block;
}

.register-form input {
    /* padding-bottom: 1.2rem; */
    font-size: 1.2rem;
    width: 300px;
    border-radius: 2px;
    background-color: #a4aaaf;
    border: none;
    border-bottom: 3px solid black;
    display: block;
    transition: all 0.3s;
}

.register-form input:hover {
    /* padding-bottom: 1.2rem; */
    font-size: 1.2rem;
    border-radius: 2px;
    background-color: #a4aaaf;
    border: none;
    border-bottom: 4px solid black;
    display: block;
}

.register-form input:focus {
    /* padding-bottom: 1.2rem; */
    font-size: 1.2rem;
    border-radius: 2px;
    background-color: #a4aaaf;
    border: none;
    border-bottom: 4px solid black;
    display: block;
}

.btn {
    background-color: black;
    color: #c6a476;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: #c6a476;
    color: black;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #c6a476;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.centered-btn-wrapper {
    display: flex;
    justify-content: center;
    padding-right: 5px;
}

.reset-btn {
    background-color: #c6a476;
    color: black;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #c6a476;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.reset-btn:hover {
    background-color: black;
    color: #c6a476;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

/* .cancel-btn:active {
 *     box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
 *     } */

.centered-btn-wrapper {
    display: flex;
    justify-content: center;
}

.col-sm-12 a {
    text-decoration: none;
    color: #c6a476;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.col-sm-12 a:hover {
    text-decoration: none;
    color: #a4aaaf;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
